* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body{
  background-color: #e9e7e7;
}

.container{
  padding: 30px;
}

.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gap-1{
  gap:1em
}

.gap-2{
  gap:1.25em
}

.gap-3{
  gap:1.8em
}


.grid{
  display: grid;
}

.left-flex{
  display: flex;
  justify-content: flex-start;
}

.errores{
  font-size: small;
  color: red;
}